<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'request_async.js' %}"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
<header>
    <nav>
        <a href="/"><img src="{% static 'logoza.ru.png' %}" alt="logo.png"></a>
    </nav>
</header>
<div class="main">
    <div class="form">
        <div>
            <input name="url" type="text" placeholder="Type URL">
        </div>
        <div>
            <button type="button" onclick="get_data()">Shorten</button>
        </div>
    </div>
</div>
</body>
</html>